# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
pado.egg-info/

# Sphinx documentation
docs/build/

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 

# Conda environment
.conda/
.conda-env/
.conda-envs/
.conda-envs-*/

# Conda build
conda-forge-recipe/
conda/

# Distribution
dist/

# Noarch
noarch/

# win-64
win-64/

# osx-64
osx-64/

channeldata.json


